@model Nop.Plugin.Widgets.HelloWorld.Models.PublicInfoModel
@{
    Layout = "";
}
@using System
@using Nop.Web.Framework.UI

<div class="con" style="font-weight:bold; color:red;">
    <ul>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorHelloWorld2ld</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
        <li>HelloWorld2</li>
    </ul>
</div>